<div id = "map"></div>

<h1><%= @category.name %></h1>     <!--カテゴリー一覧ページ-->

<ul>
    <% @spots.each do |spot| %>
    <li><%= link_to spot.name, spot %></li>
    <% end %>
    
</ul>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13216.64552551406!2d134.58627158877968!3d34.09100600818433!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfb3c6c8f30e11408!2z5bCP5p2-5rW35rC05rW05aC0!5e0!3m2!1sja!2sjp!4v1560163285194!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyAyx-JFUj1ibPE9cmAcWQxoQBUQLqjMUGI"></script>
<script type="text/javascript">
function googleMap() {
var latlng = new google.maps.LatLng(34.092089,134.603889);/* 座標 */
var myOptions = {
zoom: 16, /*拡大比率*/
center: latlng,
scrollwheel: false,
disableDoubleClickZoom: true,
draggable: false,
mapTypeControlOptions: { mapTypeIds: ['style', google.maps.MapTypeId.ROADMAP] }
};
var map = new google.maps.Map(document.getElementById('map1'), myOptions);
/*アイコン設定*/
var icon = new google.maps.MarkerImage('images/top/pin.png',/*画像url*/
new google.maps.Size(48,56),/*アイコンサイズ*/
new google.maps.Point(0,0)/*アイコン位置*/
);
var markerOptions = {
position: latlng,
map: map,
icon: icon,
title: '株式会社サンプル',/*タイトル*/
animation: google.maps.Animation.DROP/*アニメーション*/
};
var marker = new google.maps.Marker(markerOptions);
/*取得スタイルの貼り付け*/
var styleOptions = [
{
"stylers": [
{ "hue": '#eaf2f4' }
]
}
];
var styledMapOptions = { name: '株式会社サンプル' }/*地図右上のタイトル*/
var sampleType = new google.maps.StyledMapType(styleOptions, styledMapOptions);
map.mapTypes.set('style', sampleType);
map.setMapTypeId('style');
};
google.maps.event.addDomListener(window, 'load', function() {
googleMap();
});
</script>
<div id="map1" style="width:600px; height:400px; margin:0 auto;"></div>


<script>
    var map;
var marker = [];
var infoWindow = [];
var markerData = [ // マーカーを立てる場所名・緯度・経度
	{
		name: 'TAM 東京',
		lat: 35.6954806,
		lng: 139.76325010000005,
		icon: 'tam.png' // TAM 東京のマーカーだけイメージを変更する
	}, {
		name: '小川町駅',
		lat: 35.6951212,
		lng: 139.76610649999998
	}, {
		name: '淡路町駅',
		lat: 35.69496,
		lng: 139.76746000000003
	}, {
		name: '御茶ノ水駅',
		lat: 35.6993529,
		lng: 139.76526949999993
	}, {
		name: '神保町駅',
		lat: 35.695932,
		lng: 139.75762699999996
	}, {
		name: '新御茶ノ水駅',
		lat: 35.696932,
		lng: 139.76543200000003
	}
];

function initMap() {
	// 地図の作成
	var mapLatLng = new google.maps.LatLng({lat: markerData[0]['lat'], lng: markerData[0]['lng']}); // 緯度経度のデータ作成
	map = new google.maps.Map(document.getElementById('sample'), { // #sampleに地図を埋め込む
		center: mapLatLng, // 地図の中心を指定
		zoom: 15 // 地図のズームを指定
	});

	// マーカー毎の処理
	for (var i = 0; i < markerData.length; i++) {
		markerLatLng = new google.maps.LatLng({lat: markerData[i]['lat'], lng: markerData[i]['lng']}); // 緯度経度のデータ作成
		marker[i] = new google.maps.Marker({ // マーカーの追加
			position: markerLatLng, // マーカーを立てる位置を指定
			map: map // マーカーを立てる地図を指定
		});

		infoWindow[i] = new google.maps.InfoWindow({ // 吹き出しの追加
			content: '<div class="sample">' + markerData[i]['name'] + '</div>' // 吹き出しに表示する内容
		});

		markerEvent(i); // マーカーにクリックイベントを追加
	}

	marker[0].setOptions({// TAM 東京のマーカーのオプション設定
		icon: {
			url: markerData[0]['icon']// マーカーの画像を変更
		}
	});
}

// マーカーにクリックイベントを追加
function markerEvent(i) {
	marker[i].addListener('click', function() { // マーカーをクリックしたとき
		infoWindow[i].open(map, marker[i]); // 吹き出しの表示
	});
}
</script>
<div id="sample"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyx-JFUj1ibPE9cmAcWQxoQBUQLqjMUGI&callback=initMap"></script>