<h1 class="text-center"><%= @category.name %></h1>

<% @spots.each do |spot| %>  
  <div class="card">
    <div class="card-header">
      <%= link_to spot.name, spot %>
    </div>
      <div class="card-body">
        <%= spot.description.truncate(50) %>
      </div>
  </div>
<% end %>
