

<h1 class="text-center"><%= @category.name %></h1>     <!--カテゴリー一覧ページ-->

<dl>
    <% @spots.each do |spot| %>
        <dt><%= link_to spot.name, spot %></dt>
        <dd><%= spot.description.truncate(50) %></dd>
    <% end %>
</dl>

